<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Add nailpolish</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        h1,
        div,
        p {
            text-align: center;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
    <link rel="icon" type="image/svg+xml" sizes="any"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💅</text></svg>" />
</head>

<body>
    <h1>💗💅Lisää kynsilakka 💅💗</h1>

    <br>
    <p> 🌸Kyseisellä sivulla voit lisätä ihanan uuden kynsilakan! Valitse lakalle väri ja muut tiedot! 🌸</p>

    <div>
        <form th:object="${kynsilakka}" th:action="@{/savenailpolish}" action="#" method="post">

            <label for="lakka_nimi">Kynsilakan nimi</label>
            <input type="text" id="lakka_nimi" th:field="*{lakka_nimi}" />
            <div th:if="${#fields.hasErrors('lakka_nimi')}" th:errors="*{lakka_nimi}">Syötä tuotteelle nimi</div>

            <br>

            <label for="lakkaVari">Kynsilakan väri</label>
            <input type="text" id="lakkaVari" th:field="*{lakkaVari}" />

            <br>

            <label for="lakka_hankinta">Kynsilakan hankkimispäivämäärä</label>
            <input type="date" id="lakka_hankinta" th:field="*{lakka_hankinta}" />

            <br>

            <label for="kategoria">Tuotetyyppi</label>
            <select id="kategoria" th:field="*{kategoria}">
                <option th:each="kategoria: ${kategoriat}" th:value="${kategoria.kategoria_id}"
                    th:text="${kategoria.tuotetyyppi}">
                </option>
            </select>

            <input type="submit" value="Lisää tuote"></input>

        </form>
    </div>
</body>

</html>