<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        h1,
        h2,
        div {
            text-align: center;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
    <link rel="icon" type="image/svg+xml" sizes="any"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💝</text></svg>" />
</head>

<body>
    <a href="/login" sec:authorize="isAnonymous()" class="btn btn-primary">Kirjaudu sisään</a>
    <a href="/logout" sec:authorize="hasAuthority('ADMIN')" class="btn btn-warning">Kirjaudu ulos</a>
    <br>
    <h1> 💄💅🤍Tervetuloa kauneustuotteiden <br>hallintajärjestelmääsi! 🤍💅💄</h1>

    <br>

    <h2 sec:authorize="hasAuthority('ADMIN')"> 💕Hei <span sec:authentication="name"></span>! 💕</h2>

    <div>
        <p>🌸Kyseisessä järjestelmässä voit pitää kirjaa omista tuotteistasi ja tuotteidesi kategorioista.
            Järjestelmä mahdollistaa tuotteidesi <br> ja kategorioidesi
            katselun, muokkaamisen, poistamisen ja uuden luomisen. <br> Ihania hetkiä järjestelmämme parissa!🌸</p>

        <a href="/meikkilist" class="btn btn-secondary"> 💄Katsele meikkejä 💄</a>

        <a href="/kynsilakkalist" class="btn btn-info ">💅Katsele kynsilakkoja💅</a>

        <a href="/kategorialist" class="btn btn-light">🎀Katsele kategorioita🎀</a>
    </div>
</body>

</html>